$color1:#69D2E7;
$color2:#A7DBDB;
$color3:#E0E4CC;
$color4:#F38630;
$color5:#FA6900;
$color6:#E94C6F;
$color7:#542733;
$color8:#5A6A62;
$color9:#C6D5CD;
$color10:#FDF200;
$color11:#DB3340;
$color12:#E8B71A;
$color13:#F7EAC8;
$color14:#1FDA9A;
$color15:#28ABE3;
$color16:#588C73;
$color17:#F2E394;
$color18:#F2AE72;
$color19:#D96459;
$color20:#8C4646;
$color21:#D0C91F;
$color22:#85C4B9;
$color23:#008BBA;
$color24:#DF514C;
$color25:#DC403B;
$green:#27AD60;
$blue:#2C3E50;

/****mixin's de pura finta*****/
@mixin bg($color){
	background-color: $color;
}

@mixin pd($porcentaje){
	padding:$porcentaje;
}

/*****mixin's de utilidad****/

@mixin caja($lado){
	width:$lado;
	height:$lado;
	line-height:$lado;
}
/******UTILITIES********/

.p-5{
	@include pd(5%);
}

.p-10{
	@include pd(10%);
}

.pd-80{
	@include pd(80px);
}

.bg-green{
	@include bg($green);
}

.bg-blue{
	@include bg($blue);
}

.w-100{
	width:100%;
}

.white{
	color:white;
}

/******OTROS******/

body{
	margin:0;
	padding: 0;
	font-family:'Roboto', sans-serif;
}

/******HEADER******/
header{
	margin-bottom: 28px;
}

.navbar{
	@include bg($green);
	padding: 1%;
}

.bg-hero{
	background:url('../img/carousel-bg.jpg') repeat center center;
	background-size: cover;
	padding:12% 0 23% 0;
	color:white;
}

/******PALETA*******/
.color{
	float: left;
	width: 20%;
	height: 100px;
	margin-top: 10px;
}

/*esto no me gusta*/
.colores div:nth-child(1){
	@include bg($color1);
}

.colores div:nth-child(2){
	@include bg($color2);
}

.colores div:nth-child(3){
	@include bg($color3);
}

.colores div:nth-child(4){
	@include bg($color4);
}

.colores div:nth-child(5){
	@include bg($color5);
}

.colores div:nth-child(6){
	@include bg($color6);
}

.colores div:nth-child(7){
	@include bg($color7);
}

.colores div:nth-child(8){
	@include bg($color8);
}

.colores div:nth-child(1){
	@include bg($color1);
}

.colores div:nth-child(2){
	@include bg($color2);
}

.colores div:nth-child(3){
	@include bg($color3);
}

.colores div:nth-child(4){
	@include bg($color4);
}

.colores div:nth-child(5){
	@include bg($color5);
}

.colores div:nth-child(6){
	@include bg($color6);
}

.colores div:nth-child(7){
	@include bg($color7);
}

.colores div:nth-child(8){
	@include bg($color8);
}

.colores div:nth-child(9){
	@include bg($color9);
}

.colores div:nth-child(10){
	@include bg($color10);
}

.colores div:nth-child(11){
	@include bg($color11);
}

.colores div:nth-child(12){
	@include bg($color12);
}

.colores div:nth-child(13){
	@include bg($color13);
}

.colores div:nth-child(14){
	@include bg($color14);
}

.colores div:nth-child(15){
	@include bg($color15);
}

.colores div:nth-child(16){
	@include bg($color16);
}

.colores div:nth-child(17){
	@include bg($color17);
}

.colores div:nth-child(18){
	@include bg($color18);
}

.colores div:nth-child(19){
	@include bg($color19);
}

.colores div:nth-child(20){
	@include bg($color20);
}

.colores div:nth-child(21){
	@include bg($color21);
}

.colores div:nth-child(22){
	@include bg($color22);
}

.colores div:nth-child(23){
	@include bg($color23);
}

.colores div:nth-child(24){
	@include bg($color24);
}

.colores div:nth-child(25){
	@include bg($color25);
}

/*******ABOUT US*******/

.about-us, .what,.our-awesome{
	h2{
		font-size: 5em;
	}

	hr{
		width: 200px;
	}
}

.about-us{
	img{
	height:350px;
	}
}

/*****WHAT*****/
.what {
	a{
		height: 80px;
		width: 200px;
		background-color:black;
		color: white;
	}
	div div div div{
	div{
		@include caja(150px);
		margin: auto;
	}
	p{
		color: #C1C1C1;
	}

	h3{
		font-size: 2em;
		margin: 15px 0 30px;
	}

	}

}
/*****OUR-AEWSOME*****/
 .our-awesome{
 	p{
 		color: #C1C1C1;
 	}

 	h5{
 		font-size: 2.5em;
 	}
 }